Steps
1. Extract features
   - features & targets should not have any null values
   - features should be numeric in nature
   - features should be of type array/ dataframe
   - features should have some rows and columns
2. Split the dataset into training and testing datasets
   - features should be on same scale
3. Train the model on training dataset
4. Test the model on testing dataset

In [1]:
import pandas as pd
df=pd.read_csv("C:/Datasets/heart.csv")

In [2]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
y=df["target"]

In [4]:
x=df.drop("target",axis =1)

In [5]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
x.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [7]:
y.isna().sum()

0

In [8]:
x.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [9]:
type(x)

pandas.core.frame.DataFrame

In [10]:
x.shape

(303, 13)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=22,stratify=y)

In [13]:
x.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
scaler=MinMaxScaler()

In [16]:
x_train= scaler.fit_transform(x_train)
x_test= scaler.transform(x_test)

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
model=KNeighborsClassifier(n_neighbors=5)

In [19]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [20]:
model.score(x_test,y_test)
#help(KNeighborsClassifier)

0.8351648351648352

In [21]:
#prediction
data= pd.DataFrame({0:[49,79],1:[0,1],2:[1,1],3:[102,153],4:[330,230],5:[0,1],6:[0,0],7:[190,130],8:[1,0],9:[0,1],10:[2.8,0.4],11:[2,0],12:[3,1]})

In [22]:
data

   0   1   2    3    4   5   6    7   8   9    10  11  12
0  49   0   1  102  330   0   0  190   1   0  2.8   2   3
1  79   1   1  153  230   1   0  130   0   1  0.4   0   1

In [23]:
data= scaler.transform(data)

In [24]:
model.predict(data)

array([1, 1], dtype=int64)

In [ ]:
#for line 17,18
#from sklearn.tree import DecisionTreeClassifier
#model = DecisionTreeClassifier()
#model.fit(x_train,y_train)
#model.score(x_test,y_test)
#model.score(x_train,y_train)  //overfitting

#or change

#model = DecisionTreeClassifier(min_samples_leaf=6)