In [1]:
import pandas as pd
df=pd.read_csv("C:/Datasets/house-votes-84.csv")

In [2]:
df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [3]:
df.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [4]:
import numpy as np

In [5]:
df.replace("?",np.nan,inplace=True)

In [6]:
df

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n

In [7]:
df.isna().sum()

Class Name                                   0
 handicapped-infants                        12
 water-project-cost-sharing                 48
 adoption-of-the-budget-resolution          11
 physician-fee-freeze                       11
 el-salvador-aid                            15
 religious-groups-in-schools                11
 anti-satellite-test-ban                    14
 aid-to-nicaraguan-contras                  15
 mx-missile                                 22
 immigration                                 7
 synfuels-corporation-cutback               21
 education-spending                         31
 superfund-right-to-sue                     25
 crime                                      17
 duty-free-exports                          28
 export-administration-act-south-africa    104
dtype: int64

In [8]:
#fill using :
#1. Subset your column of interest
#2. Convert it to boolean based on condition
#3. surround with variablename[..code uptil step 2..]

In [9]:
republican=df[df["Class Name"]=="republican"]

In [10]:
democrat=df[df["Class Name"]=="democrat"]

In [11]:
df.shape

(435, 17)

In [12]:
republican.shape

(168, 17)

In [13]:
democrat.shape

(267, 17)

In [14]:
republican.columns

Index(['Class Name', ' handicapped-infants', ' water-project-cost-sharing',
       ' adoption-of-the-budget-resolution', ' physician-fee-freeze',
       ' el-salvador-aid', ' religious-groups-in-schools',
       ' anti-satellite-test-ban', ' aid-to-nicaraguan-contras', ' mx-missile',
       ' immigration', ' synfuels-corporation-cutback', ' education-spending',
       ' superfund-right-to-sue', ' crime', ' duty-free-exports',
       ' export-administration-act-south-africa'],
      dtype='object')

In [15]:
#republican[' handicapped-infants']=republican[' handicapped-infants'].fillna(republican[' handicapped-infants'].mode()[0])
#republican.isna().sum()

In [16]:
for columnName in republican.columns:
    republican[columnName]=republican[columnName].fillna(republican[columnName].mode()[0])

<ipython-input-16-98176d2e6c84>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  republican[columnName]=republican[columnName].fillna(republican[columnName].mode()[0])

In [17]:
republican.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [18]:
for columnName in democrat.columns:
    democrat[columnName]=democrat[columnName].fillna(democrat[columnName].mode()[0])

<ipython-input-18-1767d72ea4dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  democrat[columnName]=democrat[columnName].fillna(democrat[columnName].mode()[0])

In [19]:
democrat.isna().sum()

Class Name                                 0
 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [20]:
data=pd.concat([republican,democrat],axis=0)

In [21]:
data.shape

(435, 17)

In [22]:
x=data.drop("Class Name",axis=1)

In [23]:
x.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
7,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
10,n,y,n,y,y,n,n,n,n,n,n,y,y,y,n,n

In [24]:
y=data["Class Name"]

In [25]:
x.isna().sum()

 handicapped-infants                       0
 water-project-cost-sharing                0
 adoption-of-the-budget-resolution         0
 physician-fee-freeze                      0
 el-salvador-aid                           0
 religious-groups-in-schools               0
 anti-satellite-test-ban                   0
 aid-to-nicaraguan-contras                 0
 mx-missile                                0
 immigration                               0
 synfuels-corporation-cutback              0
 education-spending                        0
 superfund-right-to-sue                    0
 crime                                     0
 duty-free-exports                         0
 export-administration-act-south-africa    0
dtype: int64

In [26]:
y.isna().sum()

0

In [27]:
x.dtypes

 handicapped-infants                       object
 water-project-cost-sharing                object
 adoption-of-the-budget-resolution         object
 physician-fee-freeze                      object
 el-salvador-aid                           object
 religious-groups-in-schools               object
 anti-satellite-test-ban                   object
 aid-to-nicaraguan-contras                 object
 mx-missile                                object
 immigration                               object
 synfuels-corporation-cutback              object
 education-spending                        object
 superfund-right-to-sue                    object
 crime                                     object
 duty-free-exports                         object
 export-administration-act-south-africa    object
dtype: object

In [28]:
# This is a non linear model
x=pd.get_dummies(x,columns=x.columns)

In [29]:
x.dtypes

 handicapped-infants_n                       uint8
 handicapped-infants_y                       uint8
 water-project-cost-sharing_n                uint8
 water-project-cost-sharing_y                uint8
 adoption-of-the-budget-resolution_n         uint8
 adoption-of-the-budget-resolution_y         uint8
 physician-fee-freeze_n                      uint8
 physician-fee-freeze_y                      uint8
 el-salvador-aid_n                           uint8
 el-salvador-aid_y                           uint8
 religious-groups-in-schools_n               uint8
 religious-groups-in-schools_y               uint8
 anti-satellite-test-ban_n                   uint8
 anti-satellite-test-ban_y                   uint8
 aid-to-nicaraguan-contras_n                 uint8
 aid-to-nicaraguan-contras_y                 uint8
 mx-missile_n                                uint8
 mx-missile_y                                uint8
 immigration_n                               uint8
 immigration_y                               uint8
 synfuels-corporation-cutback_n              uint8
 synfuels-corporation-cutback_y              uint8
 education-spending_n                        uint8
 education-spending_y                        uint8
 superfund-right-to-sue_n                    uint8
 superfund-right-to-sue_y                    uint8
 crime_n                                     uint8
 crime_y                                     uint8
 duty-free-exports_n                         uint8
 duty-free-exports_y                         uint8
 export-administration-act-south-africa_n    uint8
 export-administration-act-south-africa_y    uint8
dtype: object

In [30]:
type(x)

pandas.core.frame.DataFrame

In [31]:
x.shape

(435, 32)

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=42,stratify=y)

In [34]:
# all features are already on same scale
from sklearn.ensemble import RandomForestClassifier

In [35]:
model= RandomForestClassifier()
# or model= RandomForestClassifier(n_estimators=150)
# or model= RandomForestClassifier(n_estimators=150, oob_score=True)

In [36]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [37]:
model.score(x_test,y_test)

0.9694656488549618

In [38]:
#help(RandomForestClassifier)
#model.oob_score_