Steps
1. Extract features
   - features & targets should not have any null values
   - features should be numeric in nature
   - features should be of type array/ dataframe
   - features should have some rows and columns
2. Split the dataset into training and testing datasets
   - features should be on same scale
3. Train the model on training dataset
4. Test the model on testing dataset

In [1]:
import pandas as pd
df=pd.read_csv("C:/Datasets/iris.csv")

In [2]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
y=df["Species"]

In [4]:
x=df.drop("Species",axis =1)

In [5]:
x.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [6]:
x=x.drop("Id",axis=1)

In [7]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [8]:
x.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [9]:
y.isna().sum()

0

In [10]:
x.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

In [11]:
type(x)

pandas.core.frame.DataFrame

In [12]:
x.shape

(150, 4)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=42,stratify=y)

#np.random.seed(200)
#np.ramdom.random() we get same rand no.

In [15]:
x.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
scaler=MinMaxScaler()

In [18]:
x_train= scaler.fit_transform(x_train)
x_test= scaler.transform(x_test)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [20]:
model=KNeighborsClassifier(n_neighbors=5)

In [21]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [22]:
model.score(x_test,y_test)
#help(KNeighborsClassifier)

0.9333333333333333

In [23]:
#prediction
data= pd.DataFrame({0:[4.5,5.7],1:[9.4,4],2:[1.9,2],3:[0.6,0.9]})

In [24]:
data

     0    1    2    3
0  4.5  9.4  1.9  0.6
1  5.7  4.0  2.0  0.9

In [25]:
data= scaler.transform(data)

In [26]:
model.predict(data)

array(['Iris-setosa', 'Iris-setosa'], dtype=object)